{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        fetch("/conf/")
        .then((result) => { return result.json(); })
        .then((data) => {
            const stripe = Stripe(data.public_key);
            document.querySelector("#btn").addEventListener("click", () => {
            var strka = document.getElementById('inp').value;
            fetch("/buy_order/" + strka)
            .then((result) => { console.log(typeof(result));return result.json(); })
            .then((data) => {
              return stripe.redirectToCheckout({sessionId: data.sessionId})
            });
          });
        });
    </script>
</head>
<body>
    <h5 style="font-size: 22px;">Order {{ order.id }} is ready</h5>
    <h5 style="font-size: 16px;">Click to continue</h5>
    <input type="hidden" id="inp" value={{ order.id }}>
    <button type="submit" id="btn" onclick="">Pay</button>
</body>
</html>